{% extends "final_project/Common/base.html" %}
{% block title %}Final Project{% endblock %}
{% block page %}Membership Types{% endblock %}

{% block content %}
<div class="row">
   <div class="col-lg-2">
      <div class="list-group">
         {% if user.member.staff %}
            <a href="{% url 'create_membership_type' %}" class="list-group-item">Create Membership Type<!--<span class="badge"></span>--></a>
         {% endif %}
      </div>
   </div>
</div><!--row-->
<div class="row">
   <div class="col-lg-12">
      <table class="table table-hover">
         <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Allowed Frequency</th>
            <th>Default Price</th>
            {% if user.member.staff %}<th>Visible</th>{% endif %}
            <th></th>
            <th></th>
         </tr>
         {% for membership_type in memberships %}
         {% if membership_type.visible or user.member.staff %}
            <tr>
               <td>{{ membership_type.name }}</td>
               <td>{{ membership_type.description }}</td>
               <td class="text-center">{{ membership_type.allowed_freq }}</td>
               <td class="text-center">{{ membership_type.default_price }}</td>
               {% if user.member.staff %}<td class="text-center">{{ membership_type.visible }}</td>{% endif %}
               <td><a type="button" class="btn btn-primary" href="{% url 'buy_membership' membership_type.id %}">Buy</a></td>
               {% if user.member.staff %}
                  <td><a type="button" class="btn btn-primary" href="{% url 'edit_membership_type' membership_type.id %}">Edit</a></td>
               {% endif %}
            </tr>
         {% endif %}
         {% endfor %}
                  <!-- end forloop -->
      </table>
   </div>
</div><!--row-->
{% endblock %}
