{% load base_extra_tags %}
<div role="navigation">

   <div class="row">
      <div class="col-lg-12">
         <h2 class="text-center"  id="left-sub">Our Teachers</h2>
      </div>
      <div class="col-lg-12">
         <a href="{% url 'home' %}"><h1 class="text-center">Guitar Studio</h1></a>
      </div>
      <div class="col-lg-12">
         <h2 class="text-center" id="right-sub">Your Talent</h2>
      </div>
   </div>

  <div>
<div class="row">
  <div class="col-lg-12" id="nav-container">
     <a class="navbar-brand" href="#">GS</a>
    <ul class="nav navbar-nav navbar-right">
	 <li class="{% get_nav_page_class request 'home' %}"><a href="{% url 'home' %}">Home</a></li>
	 <li class="{% get_nav_page_class request 'about' %}"><a href="{% url 'about' %}">About Us</a></li>
	 <li class="{% get_nav_page_class request 'programs' %}"><a href="{% url 'programs' %}">Programs</a></li>
	 <li class="{% get_nav_page_class request 'events' %}"><a href="{% url 'events' %}">Events</a></li>
	 {% if user.is_authenticated %}
	   {% if user.staff %}
		<li class="{% get_nav_page_class request 'members' %}"><a href="{% url 'members' %}">Members</a></li>
	   {% endif %}
	 <li><a href="{% url 'member_profile' 0 %}">Your Profile</a></li>
	   <li class="{% get_nav_page_class request 'logout' %}"><a href="{% url 'logout' %}">Logout</a></li>
	 {% else %}
	   <li class="{% get_nav_page_class request 'login' %}"><a href="{% url 'login' %}">Login</a></li>
	   <li class="{% get_nav_page_class request 'register' %}"><a href="{% url 'register' %}">Register</a></li>

	 {% endif %}
    </ul>
  </div>
  </div>
</div>
