{% extends "final_project/Common/base.html" %}
{% block title %}Final Project{% endblock %}
{% block page %}Program Create{% endblock %}

{% block content %}
{% if user.is_authenticated and user.member.staff %}
<div class="row">
  <div class="col-lg-12">
    <a type="button" class="btn btn-primary" href="{% url 'event_edit' event.id %}">
      Edit Event
    </a>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info theme">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h1 class="text-center">{{event.get_name}}</h1>
      </div>
      Description: {{event.get_description}}<br />
    </div>
  </div>
</div>

{% if book %}
<div class="row">
  <div class="col-lg-12">
    <a type="button" class="btn btn-primary" href="{% url 'event_book' event.id %}">
      Book Event
    </a>
    {% if member.staff %}
    <a type="button" class="btn btn-primary" href="{% url 'event_cancel' event.id %}">
      Cancel Event
    </a>
    {% endif %}
  </div>
</div>
{% elif attendcancel %}
<div class="row">
  <div class="col-lg-12">
    <a type="button" class="btn btn-primary" href="{% url 'event_attend' event.id %}">
      Attend Event
    </a>
    <a type="button" class="btn btn-primary" href="{% url 'cancel_attendance' event.id %}">
      Cancel Attendance
    </a>
  </div>
</div>


{% endif %}
{% endblock %}

