{% extends "final_project/Common/base.html" %}
{% block title %}Final Project{% endblock %}
{% block page %}Events{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
   <ul class="pager">
     <li class="jumbotron">
     <span>{{ monday|date:"F" }}</span>
     </li>
  </ul>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
   <ul class="pager">
     <li class="previous"><a type="button" class="btn btn-primary" href="{% url 'event_backweek' monday %}">
          &larr; Previous Week
      </a></li>
     <li class="current">
         <span>Week of {{ monday|date:"D d M Y" }}</span>
     </li>
     <li class="next">
         <a type="button" class="btn btn-primary" href="{% url 'event_forwardweek' monday %}">
	        Next Week &rarr;
	     </a>
     </li>
  </ul>
  </div>
</div>
{% if user.is_authenticated and user.member.staff %}
<div class="row">
   <div class="col-lg-12">
      <a type="button" class="btn btn-primary" href="{% url 'event_create_recurring' %}">
         Create a new Event
      </a>
   </div>
</div>
{% endif %}

<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>

      {% for row in days %}
      <tr>
	{% for event in row %}
	<td>
	  {% if event %}
	  {{ event.start_time }}-{{event.end_time}} {{ event.get_name }}
	  <a type="button" class="btn btn-primary" href="/final_project/event_profile/{{event.id}}">View</a>
	  {% endif %}
	</td>
	{% endfor %}
      </tr>
      {% endfor %}
      <!-- end forloop -->
    </table>
  </div>
</div><!--row-->
{% endblock %}
