{% extends "final_project/Common/base.html" %}
{% block title %}Final Project{% endblock %}
{% block page %}Event Edit{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-lg-offset-3">
    <a type="button" class="btn btn-primary" href="{% url 'cancel' event.id %}">
      Cancel Event
    </a>
    <a type="button" class="btn btn-primary" href="{% url 'cancel_following' event.id %}">
      Cancel All Following
    </a>
    <a type="button" class="btn btn-primary" href="{% url 'cancel_all' event.id %}">
      Remove All Events in this Series
    </a>
  </div>
</div>
<br />
<div class="row">
   <div class="col-lg-12">
     <form method="post" class="event_form">
       <label>Name:</label>
       <input type="text" name="name" value="{{ event.get_name }}"><br />
       <label>Description:</label>
       <input type="textarea" name="description" value="{{ event.get_description }}"><br />
       <label> Start time: </label> <input type="time" name="start_time" ><br />
       <label> End time:</label> <input type="time" name="end_time" ><br />
       <input type="submit" value="Submit" />
       {% csrf_token %}
   </div>
</div><!--row-->
{% endblock %}
