{% if objects %}
   {% if should_paginate %}
      <div class="pagination">
         <span class="step-links">
            {% if objects.has_previous %}
               <a href="?page={{ objects.previous_page_number }}">&lt</a>
            {% endif %}
            <span class="current">
               {{ objects.number }}
            </span>
            {% if objects.has_next %}
               <a href="?page={{ objects.next_page_number }}">&gt</a>
            {% endif %}
         </span>
      </div>
   {% endif %}
{% else  %}
<h4 class="text-center">{{ no_objects_message }}</h4>
{% endif %}

