<!DOCTYPE HTML>
<html>
<head>
   <meta charset="UTF-8">
   <title>{% block title %}{% endblock %}</title>
   {% load staticfiles %}
   <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'styles/application.css' %}">

   <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/application.js' %}"></script>
   <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/bootstrap-carousel.js' %}"></script>
   <link href='http://fonts.googleapis.com/css?family=Comfortaa|Iceland' rel='stylesheet' type='text/css'>
</head>
<body>
   <div class="header">
      <div class="row">
         <div class="pull-right">
            {% include 'final_project/partials/login.html' %}
         </div>
      </div>
   </div><!-- header-->
   <div class="content">
      <div class="navigation">
         <div class="row">
            <div class="col-lg-12">
               <div class="pull-left">
                  {% include 'final_project/partials/navigation.html' %}
               </div>
               <!--with page={% block page %}None{% endblock %}-->
            </div>
         </div>
      </div>
         {% block content %}{% endblock %}
         {% include 'final_project/partials/color_pallet.html' %}
   </div><!--content-->
   <div id="footer">
      <div class="row">
         <div class="col-lg-12">
            Footer
         </div>
      </div>
   </div><!--footer-->
</body>
</html>
