<!DOCTYPE HTML>
<html>
<head>
   <meta charset="UTF-8">
   <title>{% block title %}{% endblock %}</title>
   {% load staticfiles %}
   <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">

   <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/bootstrap-carousel.js' %}"></script>
</head>
<body>
   <div class="header">
      <div class="row">
         <h1>Application Header</h1>
         {% include 'final_project/partials/login.html' %}
      </div>
   </div><!-- header-->
   <div class="content">
      <div class="navigation">
         {% include 'final_project/partials/navigation.html' %}
      </div>
      {% block content %}{% endblock %}
   </div><!--content-->
   <div class="footer">
   </div><!--footer-->
</body>
</html>
