<!DOCTYPE HTML>
<html>
<head>
   <meta charset="UTF-8">
   <title>{% block title %}{% endblock %}</title>
   {% load staticfiles %}
   <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'styles/application.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'styles/table.css' %}">

   <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/application.js' %}"></script>
   <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/bootstrap-carousel.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/garand-sticky-c199302/jquery.sticky.js' %}"></script>
   <link href='http://fonts.googleapis.com/css?family=Comfortaa|Iceland' rel='stylesheet' type='text/css'>
   <script src="//use.edgefonts.net/wire-one;josefin-sans.js"></script>
</head>
<body>
    <div class='wrapper' >
      <div class="navigation">
         <div class="row">
            <div class="col-lg-12">
                  {% include 'final_project/partials/navigation.html' %}
            </div>
         </div>
      </div>
      <div class="content">
         {% for error in errors %}
            {% include "final_project/partials/alert.html" with type="danger" message=error %}
         {% endfor %}
         {% block content %}{% endblock %}
      </div><!--content-->
      <div class="row">
         <div class="colg-12" >
      <div class='push'></div>
      </div>
      </div>
      </div>
      <div class="row">
         <div class="colg-12" >
   <div id="footer">
            Hi I'm the Footer
         </div>
      </div>
   </div><!--footer-->
</body>
</html>
