{% extends "final_project/base.html" %}
{% block content %}
{% include "final_project/partials/alert.html" with type="danger" message="Default" %}
<div class="row">
      <div class="span12">
         <form action="{% url 'login' %}" method="post" id="login">
            <label>Username:</label>
            <input type="text" name="username"><br />
            <label>Password:</label>
            <input type="password" name="password"><br />
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
         </form>
      </div>
</div>
{% endblock %}
