{% extends "final_project/base.html" %}
{% block content %}
<div class="row">
      <div class="span12">
         <form action="{% url 'login' %}" method="post">
            {{ form.username.label_tag }}
            <input type="text" name="username"><br />
            {{ form.password.label_tag }}
            <input type="password" name="password">
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
         </form>
      </div>
</div>
{% endblock %}
