{% extends "final_project/base.html" %}
{% block title %}Final Project{% endblock %}
{% block page %}Program Create{% endblock %}

{% block content %}
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-info theme">
         <!-- Default panel contents -->
            <div class="panel-heading">
               <h1 class="text-center">{{ program.name }}</h1>
            </div>

      Description: {{program.description}}<br />
      Staff<br />
      <table class="table table-striped table-bordered table-hover">
         {% for member in program.staff.all %}
            <tr><td>{{member.first_name}} {{member.last_name}}</td></tr>
         {% endfor %}
      </table>
      Members
      <table class="table table-striped table-bordered table-hover">
         {% for member in program.members.all %}
            <tr><td>{{member.first_name}} {{member.last_name}}</td></tr>
         {% endfor %}
      </table>
   </div>
</div><!--row-->
{% endblock %}
