{% extends "final_project/base.html" %}
{% block title %}Final Project{% endblock %}
{% block page %}Program Create{% endblock %}

{% block content %}
<div class="row">
   <div class="col-lg-12">
      Name:{{program.name}}<br />
      Description{{program.description}}<br />
      Staff<br />
      {% for member in program.staff %}
         {{member.first_name}} {{member.last_name}} <br />
      {% endfor %}
      Members<br />
      {% for member in program.members %}
         {{member.first_name}} {{member.last_name}} <br />
      {% endfor %}
   </div>
</div><!--row-->
{% endblock %}
