{% extends "final_project/Common/base.html" %}
{% block title %}Final Project{% endblock %}
{% block page %}Emails{% endblock %}
{% load base_extra_tags %}
{% block content %}
<div class="row">
  <form method="post" class="email_programs" action="{% url 'send_email' %}">
    <div class="col-lg-2">
      <div class="list-group">
        <a class="list-group-item">
	     <input type="checkbox" name="all" value="filter_this" />All</a>
         {% for program in programs %}
            <a class="list-group-item" >
	        <input type="checkbox" name="{{program.name}}" value="filter_this" />
	        {{program.name}}<span class="badge">{{program.members.count}}</span></a>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-10" id="email">
       <input class="center-block subject" type="text" name="subject" value="Email Subject..." /><br />
       <textarea class="form-control" name="content" value="Email Body..." rows="13"></textarea><br />
       <input class="email-submit" type="submit" value="Submit" />
    </div>
    {% csrf_token %}
  </form>
</div>
{% endblock %}
