{% load base_extra_tags %}
<form method="post" class="form">
   <label>Name:</label>
   <input class='form-control' type="text" name="name" value="{{ event.name }}"><br />
   <label>Description:</label>
   <textarea class='form-control' name="description">{{ event.description }}</textarea><br />
   <label>Repeat on:</label>
   <input type="checkbox" name="onMonday" value="True" {{ Monday|yesno:"checked," }}> M
   <input type="checkbox" name="onTuesday" value="True"  {{ Tuesday|yesno:"checked," }}> T
   <input type="checkbox" name="onWednesday" value="True" {{ Wednesday|yesno:"checked," }}> W
   <input type="checkbox" name="onThursday" value="True" {{ Thursday|yesno:"checked," }}> R
   <input type="checkbox" name="onFriday" value="True" {{ Friday|yesno:"checked," }}> F
   <input type="checkbox" name="onSaturday" value="True" {{ Saturday|yesno:"checked," }}> Sa
   <input type="checkbox" name="onSunday" value="True" {{ Sunday|yesno:"checked," }}> Su
   <br />
   <label>Start Date:</label>
   <input class='form-control' type="date" name="start_date" value="{% format_date_or_time event.event_type.recurrence.start_date %}"><br />
   <label>End Repeating:</label>
   <input class='form-control' type="date" name="end_date" value="{% format_date_or_time event.event_type.reocurrence.end_recurrence %}"><br />
   <label> Start time: </label> <input class='form-control' type="time" name="start_time" value="{% format_date_or_time event.start_time %}"><br />
   <label> End time:</label> <input class='form-control' type="time" name="end_time" value="{% format_date_or_time event.end_time %}"><br />
   {% include 'final_project/Programs/partials/add_remove_program_form_partial.html' %}
   <input type="submit" value="Submit" />
   <input type="hidden" name="next" value="{{ next }}" />
   {% csrf_token %}
</form>
